<div class="create-book">
  <h4>Crear Libro</h4>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
      <div class="col-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" formControlName="name">
      </div>
      <div class="col-6">
        <label for="autor" class="form-label">Autor</label>
        <input type="text" class="form-control" id="autor" formControlName="author">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="fecha" class="form-label">Fecha de publicacion</label>
        <input type="date" class="form-control" id="fecha" formControlName="publicationDate">
      </div>
      <div class="col-6">
        <label for="valor" class="form-label">Valor</label>
        <input type="text" class="form-control" id="valor" formControlName="price">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="disponible" formControlName="available">
          <label class="custom-control-label" for="disponible">Disponible</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-primary create-book__button">Guardar</button>
      </div>
    </div>
  </form>
</div>


